* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  background: url(bg.png);
  background-position: center;
  background-size: cover;
  
}

.wrapper {
  margin: 200px;
  padding: 100px;
  background: dodgerblue;
  color: #fff;
  border-radius: 10px;
}

h1 {
  margin-bottom: 30px;
}

.inputField input {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.inputField button {
  padding: 4px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background: dodgerblue;
  cursor: pointer;
  opacity: 0.4;
  pointer-events: none;
}

.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}

#del-btn{
  margin-left: 150px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 0 13px 0 13px;
  color: #fff;
  background: maroon;
  border: none;
  border-radius: 3px;
}

#taskLi {
  margin-left: 10px;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.footer button {
  line-height: 25px;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: maroon;
  margin-left: 35px;
  font-weight: bold;
}

